/blacklist
/grabaciones
/source/agis/__pycache__/
/source/astconf/*_custom*
/source/astconf/*_override*
/source/sounds
sounds
/src
/source/astconf/oml_pjsip_agents.conf
/source/astconf/oml_pjsip_trunks.conf
/source/astconf/oml_queues.conf
/source/astconf/oml_extensions_outr.conf
/source/astconf/oml_moh.conf
source/astconf/oml_sip_registrations.conf
source/astconf/oml_sip_trunks.conf
source/astconf/websockets.log
deploy/first_boot_installer.sh
deploy/oml_installer.sh
deploy/.env
build/rpm/.env
