/blacklist
/grabaciones
/source/agis/__pycache__/
/src
/source/astconf/oml_pjsip_agents.conf
/source/astconf/oml_pjsip_trunks.conf
/source/astconf/oml_queues.conf
/source/astconf/oml_extensions_outr.conf
/source/astconf/oml_moh.conf
source/astconf/oml_sip_registrations.conf
source/astconf/oml_sip_trunks.conf
source/astconf/websockets.log
deploy/first_boot_installer.sh
build/rpm/.env
