# Python bytecode
__pycache__/
*.py[cod]
*$py.class

source/astconf/oml_pjsip_agents.conf
source/astconf/oml_pjsip_trunks.conf
source/astconf/oml_queues.conf
source/astconf/oml_extensions_outr.conf
source/astconf/oml_moh.conf
source/astconf/oml_sip_registrations.conf
source/astconf/oml_sip_trunks.conf
source/astconf/websockets.log
